[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/solmate"]
	path = contracts/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "contracts/lib/protocol-monorepo"]
	path = contracts/lib/protocol-monorepo
	url = https://github.com/superfluid-finance/protocol-monorepo
[submodule "contracts/lib/subdomain-registrar"]
	path = contracts/lib/subdomain-registrar
	url = https://github.com/ensdomains/subdomain-registrar
[submodule "contracts/lib/aave-v3-core"]
	path = contracts/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "contracts/lib/WETH10"]
	path = contracts/lib/WETH10
	url = https://github.com/WETH10/WETH10
[submodule "contracts/lib/aave-v3-periphery"]
	path = contracts/lib/aave-v3-periphery
	url = https://github.com/aave/aave-v3-periphery
[submodule "contracts/lib/nxtp"]
	path = contracts/lib/nxtp
	url = https://github.com/connext/nxtp
[submodule "contracts/lib/ens"]
	path = contracts/lib/ens
	url = https://github.com/ensdomains/ens
